<section id="main-slider" class="carousel">
    </section><!--/#main-slider-->

    <section id="services">
            <div class="box">
              <div class="row">
                <h2>Skills</h2>
              </div>
              <div class="row">
                <div class="skills">
                  <%= image_tag('icons/ubuntu.png', class: 'img-responsive', :title => 'Linux') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/windows.png', class: 'img-responsive', :title => 'Windows 8.1') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/osx.png', class: 'img-responsive', :title => 'Mac OSX') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/ios.png', class: 'img-responsive', :title => 'iOS') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/android.png', class: 'img-responsive', :title => 'Android') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/bitbucket.png', class: 'img-responsive', :title => 'Bitbucket') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/git.png', class: 'img-responsive', :title => 'Github') %>
                </div>    
                <div class="skills">
                  <%= image_tag('icons/ror.png', class: 'img-responsive', :title => 'Ruby on Rails') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/css.png', class: 'img-responsive', :title => 'CSS3') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/html.png', class: 'img-responsive', :title => 'HTML') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/ps.png', class: 'img-responsive', :title => 'Adobe Photoshop CC') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/ai.png', class: 'img-responsive', :title => 'Adobe Illustrator CC') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/acrobat.png', class: 'img-responsive', :title => 'Adobe Acrobat CC') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/ae.png', class: 'img-responsive', :title => 'Adobe After Effects CC') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/vegas.png', class: 'img-responsive', :title => 'Sony Vegas Pro 13') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/acid.jpeg', class: 'img-responsive', :title => 'Sony Acid Pro') %>
                </div>
                <div class="skills">
                  <%= image_tag('icons/audacity.png', class: 'img-responsive', :title => 'Audacity') %>
                </div>
              </div>
    </section><!--/#Services-->

    <section id="portfolio">
        <div class="">
            <div class="box">
              <div class="row">
                <h2>Portfolio</h2>
              </div>
              <div class="row">
                <h3>Web Development</h3>
              </div>
              <div class="row" style="padding-bottom:20px;">
                      <div class="col-md-4">
                        <div class="webimg">
                          <%= link_to image_tag('web/infolimpet.png', class: 'img-responsive'), 'http://infolimpet.tk', :target => "_blank" %>
                        </div>
                        <div>
                          Info Limpet
                        </div>
                        <div>
                          http://infolimpet.tk
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="webimg">
                          <%= link_to image_tag('web/flagu.png', class: 'img-responsive'), 'http://flagu.net', :target => "_blank" %>
                        </div>
                        <div>
                          FlagU
                        </div>
                        <div>
                          http://flagu.net
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="webimg">
                          <%= link_to image_tag('web/gd.png', class: 'img-responsive'), 'http://gamedementia.tk', :target => "_blank" %>
                        </div>
                        <div>
                          Game Dementia
                        </div>
                        <div>
                          http://gamedementia.tk
                        </div>
                      </div>
                      
              </div>

              <div class="row">
                       <div class="col-md-4">
                        <div class="webimg">
                          <%= link_to image_tag('web/ef.png', class: 'img-responsive'), 'http://www.everlastingfence.com', :target => "_blank" %>
                        </div>
                        <div>
                          Everlasting Fence
                        </div>
                        <div>
                          http://www.everlastingfence.com
                        </div>

                      </div>

                      <div class="col-md-4">
                        <div class="webimg">
                          <%= link_to image_tag('web/ssk.png', class: 'img-responsive'), 'http://sexualsurvivalkit.herokuapp.com', :target => "_blank" %>
                        </div>
                        <div>
                          Sexual Survival Kit
                        </div>
                        <div>
                          http://sexualsurvivalkit.herokuapp.com
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="webimg">
                          <%= link_to image_tag('web/spon.png', class: 'img-responsive'), 'http://stephspix.herokuapp.com', :target => "_blank" %>
                        </div>
                        <div>
                          Steph's Picks on Netflix
                        </div>
                        <div>
                          http://stephspix.herokuapp.com
                        </div>
                      </div>                
              </div>
             <div class="row">
                <h3>Graphic Design</h3>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
              </div>
              <div class="row">
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
              </div>
              <div class="row">
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
                      <div class="col-md-2">
                        Graphic Design
                      </div>
              </div>

            </div>
    </section><!--/#Services-->

    <section id="resume">
            <div class="box">
              <div class="row">
                <h2>Resume</h2>
              </div>
              <div class="row">
                <pre>
<h3>Experience</h3><div class="pull-right">
    February 2015 - Present
</div>
Web Designer/Graphic Designer
http://Infolimpet.tk

• Webdesigner including Ruby on Rails, HTML, some Jquery, SQL and CSS3 for a data tracking website for the game Elite: Dangerous

Web Designer/Graphic Designer<div class="pull-right">
November 2014 - Present
</div>
http://flagu.net

• Backend including Ruby on Rails, HTML, SQL and CSS3 for Business Directory/Review website.
<div class="pull-right">
  October 2010 - Present
</div>
Youtube Partner / Twitch Streamer
Game Dementia - Philadelphia, Pennsylvania

• Provide casual gaming, commentary, first impressions and walkthrough videos on my channel.
• Branding and Imagery for all web and social media
• Record, edit and promote all created content
• Promote/Critique new upcoming games
• Test and review Alpha/Beta games
• Streamer on Twitch.tv

Graphic Designer/IT Advisor<div class="pull-right">
May 2006 - Nov 2014
</div>
The Trophy Shop - Wilmington, Delaware 

• Setup and wired the main network server.
• Identify and resolve problems with the server network.
• Configured E-Mails and file storage.
• Provided various artwork for charitable events and political fundraisers.
• Setup and re-work customer supplied artwork for screen printing and sublimation.
• Trained employees in CorelDraw, Adobe Photoshop and Illustrator.
• Customer service and retail.

<h3>Education</h3><div class="pull-right">
  Graduated April 2006
</div>
Certificate in Multimedia Design
Chubb Institute, Springfield, Pennsylvania
Certificate of excellence award for 4.0 Accumulative GPA
<div class="pull-right">
  Graduated September 2005
</div>
High School Diploma
Pocono Mountain West High School
                </pre> 
              </div>
    </section><!--/#Services-->
<!-- 
    <section id="pricing">
            <div class="box">
                <div class="center">
                    <h2>See our Pricings</h2>
                    <p class="lead">Pellentesque habitant morbi tristique senectus et netus et <br>malesuada fames ac turpis egestas.</p>
                </div>
                <div class="big-gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Basic</li>
                            <li class="plan-price">$29</li>
                            <li>5GB Storage</li>
                            <li>1GB RAM</li>
                            <li>400GB Bandwidth</li>
                            <li>10 Email Address</li>
                            <li>Forum Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="plan featured">
                            <li class="plan-name">Standard</li>
                            <li class="plan-price">$49</li>
                            <li>10GB Storage</li>
                            <li>2GB RAM</li>
                            <li>1TB Bandwidth</li>
                            <li>100 Email Address</li>
                            <li>Forum Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="plan">
                            <li class="plan-name">Advanced</li>
                            <li class="plan-price">$199</li>
                            <li>30GB Storage</li>
                            <li>5GB RAM</li>
                            <li>5TB Bandwidth</li>
                            <li>1000 Email Address</li>
                            <li>Forum Support</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                        </ul>
                    </div>
                </div> 
            </div> 
    </section>-->

    <section id="about-us">
            <div class="box">
              <div class="row">
                <h2>About Me</h2>
              </div>
              <div class="row">
                <div class="col-md-12">
                  Ruby on Rails
                </div>  
              </div>
    </section>

    <section id="contact">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Contact Form</h1>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required="required" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                        <!-- <h1>Our Address</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div> -->
                        <h1>Connect with us</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="http://twitter.com/joenilan"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="http://youtube.com/suburbanwhiteguy"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
    </section><!--/#contact-->

    <!-- 

<p id="notice"><%= notice %></p>

<h1>Listing Homes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.description %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
-->