<!DOCTYPE html>
<html>
<head>
  <title>Jnilan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to 'Joe Nilan', root_path, class: 'navbar-brand' %>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="glyphicon glyphicon-home"></i></a></li>

 						<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Code <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Bitbucket', 'http://bitbucket.com/joenilan', :target => "_blank" %></li>
            <li><%= link_to 'Github', 'http://github.com/joenilan', :target => "_blank" %></li>
            <!-- <li role="separator" class="divider"></li>-->
          </ul>
        </li>
                        <li><a href="#services">Skills</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#resume">Resume</a></li>
                        <!-- <li><a href="#pricing">Pricing</a></li> -->
                        <li><a href="#about-us">About Me</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->
<div class="container">
	<div class="yield">
    	<%= yield %>
    </div>
</div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    &copy; 2015 <a target="_blank" href="http://jnilan.herokuapp.com/" title=""> Joseph Nilan</a>. All Rights Reserved.
                </div>

            </div>
        </div>
    </footer>
</html>
